body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 60%;
  padding: 20px;
}

.header-title {
  font-family: "Lobster Two", cursive;
  font-size: 25px;
}

.current-weather {
  margin: 50px 0;
}

.current-weather_title {
  font-size: 18px;
}

.current-weather_title-location {
  font-weight: bold;
}
