body {
  font-family: "Poppins", sans-serif;
}

form {
  margin: 30px 0;
}

.wrapper {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 60%;
  padding: 20px;
}

.header-title {
  font-family: "Lobster Two", cursive;
  font-size: 25px;
}

/* Current Weather Styles */

.current-weather_container {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 5px;
  margin: 50px 0;
  padding: 40px;
}

.current-weather_title {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.current-weather_title-location {
  font-weight: bold;
}

.current-weather_image {
  height: 140px;
  width: 140px;
}

.current-weather_degrees {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.current-weather_units {
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 72px;
  left: 100px;
  /* top: 10px; */
}

.current-weather_description {
  text-transform: capitalize;
}

.current-weather_list {
  list-style: none;
}

/* Weekly Forecast styles */

.weekly-forecast_container {
  margin: 40px 0;
}
.weekly-forecast_title {
  color: gray;
  font-size: 25px;
  margin-bottom: 40px;
}

.weekly-forecast_container h3 {
  font-size: 20px;
}
